@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap');


/* fonts & colors 

font-family: 'Cormorant Garamond', serif;
colors: rgb(233, 233, 224), #333

*/

html {
    font-size: 62.5%;
    font-family: 'Cormorant Garamond', serif;
    background-color: rgb(233, 233, 224);
}

.container-supernews {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;

}

h1::first-letter {
    font-size: 3rem;
}

header {
    display: flex;
    justify-content: space-evenly;
    border-top: 5px double #333;
    border-bottom: 5px double #333;
    margin: 0 10%;
}

header p {
    font-weight: 900;
}

.headline-burning {
    display: flex;
    justify-content: center;
}

.headline-burning h2 {
    align-items: baseline;
    font-size: 2rem;
    font-weight: bold;
}

.headline-burning p {
    align-items: baseline;
    font-size: 1.8rem;
    margin-top: 33px;
    margin-left: 27%;
    font-weight: bold;
}

/* ----------------------------------- */
main {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "A B C";
    margin: 0 10%;
}

article {
    grid-area: A;
}

section {
    grid-area: B;
}

aside {
    grid-area: C;
}

/* -----------6 articles-------------------- */

article h2 {
    margin-left: 5%;
    font-size: 1.6rem;
}

article p {
    margin: 0 5%;
    font-size: 1rem;
}


.container-grid-article {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 15vh 25vh 45vh;
    grid-template-areas: "a d""b e""c f";
    gap: 10px;
    margin: 5% 0;
}

.article-first-row1 {
    grid-area: a;
}

.article-second-row1 {
    grid-area: b;
}

.article-last-row1 {
    grid-area: c;
}

.article-first-row2 {
    grid-area: d;
}

.article-second-row2 {
    grid-area: e;
}

.article-last-row2 {
    grid-area: f;
}


/* --------------img------------------------- */

section {}

section img {
    margin: 5% 37px;
    width: 85%;
}

section figure {
    font-style: italic;

}


/* ----------------3 asides------------------------ */
aside h2 {
    text-align: center;
    font-size: 1.6rem;
}

aside p {
    text-align: center;
    font-size: 1.4rem;
}

aside p:nth-child(3) {
    font-size: 20px;
    text-decoration: underline;
}

.container-grid-aside {
    display: grid;
    /* grid-template-columns: repeat(1); */
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-areas: "aside1""aside2""aside3";
    gap: 10px;
    margin: 5% 0;
}

.aside1 {
    grid-area: aside1;
    border: 5px double rgb(0, 0, 0);
}

.aside1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside1 h2 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.aside2 {
    grid-area: aside2;
    border: 5px double rgb(0, 0, 0);

}

.aside3 {
    grid-area: aside3;
    display: flex;
    border: 5px double rgb(0, 0, 0);
}

.aside3 img {
    width: 80%;
    margin: 15% 15%;
}