@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap');


/* fonts & colors 

font-family: 'Cormorant Garamond', serif;
colors: rgb(233, 233, 224), #333

*/

html {
    font-size: 62.5%;
    font-family: 'Cormorant Garamond', serif;
}

.container-supernews {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

h1::first-letter {
    font-size: 3rem;
}

header {
    display: flex;
    justify-content: space-evenly;
    border-top: 2px double #333;
    border-bottom: 2px double #333;
    margin: 0 10%;
}

.headline-burning {
    display: flex;
    justify-content: center;
}

.headline-burning h2 {
    align-items: baseline;
}

.headline-burning p {
    align-items: baseline;
}

/* ----------------------------------- */
main {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "A B C";
    margin: 0 10%;
}

article {
    grid-area: A;
    background-color: rgb(211, 87, 87);
}

section {
    grid-area: B;
    background-color: yellow;
}

aside {
    grid-area: C;
    background-color: green;
}

/* -----------6 articles-------------------- */
.container-grid-article {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 15vh 25vh 45vh;
    grid-template-areas: "a d""b e""c f";
    gap: 10px;
    margin: 5% 0;
}

.article-first-row1 {
    grid-area: a;
    background-color: blue;
}

.article-second-row1 {
    grid-area: b;
    background-color: blueviolet;
}

.article-last-row1 {
    grid-area: c;
    background-color: darkblue;
}

.article-first-row2 {
    grid-area: d;
    background-color: rgb(218, 218, 227);
}

.article-second-row2 {
    grid-area: e;
    background-color: rgb(98, 89, 107);
}

.article-last-row2 {
    grid-area: f;
    background-color: rgb(51, 51, 73);
}


/* --------------img------------------------- */

section {}

section img {
    margin: 5% 0;
    width: 100%;
}

section figure {}


/* ----------------3 asides------------------------ */
.container-grid-aside {
    display: grid;
    /* grid-template-columns: repeat(1); */
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-areas: "aside1""aside2""aside3";
    gap: 10px;
    margin: 5% 0;
}

.aside1 {
    grid-area: aside1;
    background: wheat;
    border: 5px double white;
}

.aside1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside1 h2 {
    font-size: 2rem;
    text-align: center;
    padding: 30%;
}

.aside2 {
    grid-area: aside2;
    background: rgb(78, 63, 34);
    border: 5px double white;

}

.aside3 {
    grid-area: aside3;
    background: rgb(65, 61, 54);
    display: flex;
    border: 5px double white;

}

.aside3 img {
    width: 80%;
    margin: 15% 15%;
}

/* ----------------------------------------------------- */